:root{
    --primary-color: #1E293B;
    --primary-second-color: #2d4b64;
    --secondary-color: #F8FAFC;
    --neutral-color: #111827;
    --accent-color: #22C55E;
}
@font-face {
    font-family: BYekan;
    src: url(fonts/BYekan+_0.ttf);
}

body{
   text-align:right;
   direction: rtl;
   font-family: BYekan,Tahoma;
}

body>.container-fluid{
    background: radial-gradient(ellipse at top center, var(--primary-second-color), var(--primary-color));
    min-height: 100vh;
}
